$primary: #1b1b1b;
$white: white;
$color: $primary;
$colorOverPrimaryColor: white;

$box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
$button-shadow: 0 2px 4px rgba(0,0,0,0.30), 0 2px 4px rgba(0,0,0,0.22);
